<section id="aboutme">
  <h1>Sobre mi</h1>
  <p>
    Programador JavaScript con mas de años de experiencia desarrollando
    aplicaciones interactivas y de calidad para diferentes clientes.
  </p><p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur tempore,
    non, sint facilis iure molestias reprehenderit itaque quas dolorum
    perferendis repudiandae consectetur iusto earum consequuntur quis id officia
    commodi natus.
  </p><p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur tempore,
    non, sint facilis iure molestias reprehenderit itaque quas dolorum
    perferendis repudiandae consectetur iusto earum consequuntur quis id officia
    commodi natus.
  </p><p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur tempore,
    non, sint facilis iure molestias reprehenderit itaque quas dolorum
    perferendis repudiandae consectetur iusto earum consequuntur quis id officia
    commodi natus.
  </p><p>
    Programador JavaScript con mas de años de experiencia desarrollando
    aplicaciones interactivas y de calidad para diferentes clientes.
  </p><p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur tempore,
    non, sint facilis iure molestias reprehenderit itaque quas dolorum
    perferendis repudiandae consectetur iusto earum consequuntur quis id officia
    commodi natus.
  </p><p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur tempore,
    non, sint facilis iure molestias reprehenderit itaque quas dolorum
    perferendis repudiandae consectetur iusto earum consequuntur quis id officia
    commodi natus.
  </p><p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur tempore,
    non, sint facilis iure molestias reprehenderit itaque quas dolorum
    perferendis repudiandae consectetur iusto earum consequuntur quis id officia
    commodi natus.
  </p>
</section><style>
  section {
    padding-top: 80px;
  }
</style>
