<section id="aboutme">
  <h1>Sobre mi</h1>
  <p>¡Hola! Soy Sergio, un apasionado desarrollador web con más de 3 años de experiencia creando soluciones digitales innovadoras. Mi enfoque se centra en la excelencia técnica y la creación de experiencias online excepcionales.</p>
</section><style>
  section {
    padding-top: 100px;
  }
</style>
