---

---

<section id="education">
  <h1>Educación</h1>
  <div class="container">
    <div class="card">
      <div class="card-logo">
        <img src="cognizant.webp" alt="" />
      </div>
      <div class="card-data">
        <h3 class="title">ILERNA FP</h3>
        <p class="company-name">
          Técnico Superior en Desarrollo de Aplicaciones Web
        </p>
        <p class="date">2018 -2019</p>
      </div>
    </div>
    <div class="card">
      <div class="card-logo">
        <img src="alkimii.png" alt="" />
      </div>
      <div class="card-data">
        <h3 class="title">Bachillerato LOGSE de Ciencias y Tecnología</h3>
        <p class="company-name">I.E.S. PÉREZ DE GUZMAN</p>
      </div>
    </div>

    <div class="card">
      <div class="card-logo">
        <img src="hcl.png" alt="" />
      </div>
      <div class="card-data">
        <h3 class="title">Lemoncoders</h3>
        <p class="company-name">Bootcamp JavaScript (5 meses)</p>
        <p class="date">2019</p>
      </div>
    </div><div class="card">
      <div class="card-logo">
        <img src="hcl.png" alt="" />
      </div>
      <div class="card-data">
        <h3 class="title">Lemoncoders</h3>
        <p class="company-name">Bootcamp JavaScript (5 meses)</p>
        <p class="date">2019</p>
      </div>
    </div><div class="card">
      <div class="card-logo">
        <img src="hcl.png" alt="" />
      </div>
      <div class="card-data">
        <h3 class="title">Fundación para el Progreso de Andalucía</h3>
        <p class="company-name">
          Curso de Administración de Servidores Windows / Linux / Unix
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    padding-top: 100px;
  }
  .container {
    border: 1px solid var(--gray);
    border-radius: 10px;
    padding: 10px;
    background-color: white;
  }
  .card {
    display: flex;
    border-bottom: 1px solid var(--gray);
  }
  .card:last-child {
    display: flex;
    border-bottom: none;
  }
  .card-logo {
    flex: 1;
    padding: 10px;
  }
  .card-data {
    flex: 6;
    padding: 10px;
  }
  img {
    width: 100px;
  }
  h1 {
    margin: 10px 0px;
  }
  h3 {
    margin: 0;
    padding: 0;
  }
  h1 {
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
</style>
