---
// interface Props {
//   title: string;
//   body: string;
//   href: string;
// }

// const { href, title, body } = Astro.props;
---

<div class="menu">
  <nav>
    <a href="#aboutme">Sobre mi</a>
    <a href="#experience">Experiencia</a>
    <a href="#education">Educación</a>
    <a href="#projects">Proyectos</a>
    <a href="#contactme">Contacto</a>
  </nav>
</div>

<style>
  .menu {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100dvw;
    background-color: white;
    z-index: 1000;
    border-bottom: 1px solid var(--gray);
  }
  nav {
    margin: 0 auto;
    display: flex;
    gap: 30px;
    max-width: 740px;
    padding: 10px 0px;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }
</style>
