<section id="projects">
  <h1>Proyectos</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore inventore
    quod quasi qui minima, non exercitationem aliquid corporis veritatis rem cum
    neque laudantium quibusdam voluptates et nesciunt. Adipisci, inventore odio.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus,
    expedita autem? Esse quo consequuntur vero quos cum, ratione alias facilis
    itaque reiciendis nulla laudantium tempora similique, velit provident ad
    commodi! Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Repudiandae deserunt aliquam ea nesciunt, enim aperiam? Obcaecati doloribus,
    nisi minus velit praesentium consequuntur a deserunt id! Sequi saepe numquam
    et ut?
  </p>
</section>
<style>
    section {
      padding-top: 100px;
    }
  </style>